<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetMoves</servlet-name>
        <servlet-class>PKClass.GetMoves</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPowerState</servlet-name>
        <servlet-class>PKClass.GetPowerState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetThermoState</servlet-name>
        <servlet-class>PKClass.GetThermoState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFanState</servlet-name>
        <servlet-class>PKClass.GetFanState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetModeState</servlet-name>
        <servlet-class>PKClass.GetModeState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePower</servlet-name>
        <servlet-class>PKClass.UpdatePower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateThermostate</servlet-name>
        <servlet-class>PKClass.UpdateThermostate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFanState</servlet-name>
        <servlet-class>PKClass.UpdateFanState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CamSaver</servlet-name>
        <servlet-class>PKClass.CamSaver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCamTime</servlet-name>
        <servlet-class>PKClass.GetCamTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentSpeak</servlet-name>
        <servlet-class>PKClass.CurrentSpeak</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIdList</servlet-name>
        <servlet-class>PKClass.GetIdList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetACState</servlet-name>
        <servlet-class>PKClass.GetACState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetACBrand</servlet-name>
        <servlet-class>PKClass.GetACBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstimateBrand</servlet-name>
        <servlet-class>PKClass.EstimateBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLabel</servlet-name>
        <servlet-class>PKClass.UpdateLabel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSchedule</servlet-name>
        <servlet-class>PKClass.AddSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSchedule</servlet-name>
        <servlet-class>PKClass.GetSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSchedule</servlet-name>
        <servlet-class>PKClass.DeleteSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScheduledAC</servlet-name>
        <servlet-class>PKClass.GetScheduledAC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScheduleAC</servlet-name>
        <servlet-class>PKClass.AddScheduleAC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteScheduleAC</servlet-name>
        <servlet-class>PKClass.DeleteScheduleAC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Amperes</servlet-name>
        <servlet-class>PKClass.Amperes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCurrent</servlet-name>
        <servlet-class>PKClass.GetCurrent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SyncAC</servlet-name>
        <servlet-class>PKClass.SyncAC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>PKClass.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUnscheduledAC</servlet-name>
        <servlet-class>PKClass.GetUnscheduledAC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGroupList</servlet-name>
        <servlet-class>PKClass.GetGroupList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGroupLabel</servlet-name>
        <servlet-class>PKClass.UpdateGroupLabel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroup</servlet-name>
        <servlet-class>PKClass.AddGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroup</servlet-name>
        <servlet-class>PKClass.DeleteGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubGroup</servlet-name>
        <servlet-class>PKClass.AddSubGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubGroup</servlet-name>
        <servlet-class>PKClass.DeleteSubGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubGroupList</servlet-name>
        <servlet-class>PKClass.GetSubGroupList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubGroupLabel</servlet-name>
        <servlet-class>PKClass.UpdateSubGroupLabel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubGroupDevList</servlet-name>
        <servlet-class>PKClass.GetSubGroupDevList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRemote</servlet-name>
        <servlet-class>PKClass.UpdateRemote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewIdList</servlet-name>
        <servlet-class>PKClass.GetNewIdList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignDevice</servlet-name>
        <servlet-class>PKClass.AssignDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MotionHist</servlet-name>
        <servlet-class>PKClass.MotionHist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDashboard</servlet-name>
        <servlet-class>PKClass.GetDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalControl</servlet-name>
        <servlet-class>PKClass.LocalControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetGroupACPower</servlet-name>
        <servlet-class>PKClass.SetGroupACPower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSubGroupACPower</servlet-name>
        <servlet-class>PKClass.SetSubGroupACPower</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMoves</servlet-name>
        <url-pattern>/GetMoves</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPowerState</servlet-name>
        <url-pattern>/GetPowerState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetThermoState</servlet-name>
        <url-pattern>/GetThermoState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFanState</servlet-name>
        <url-pattern>/GetFanState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetModeState</servlet-name>
        <url-pattern>/GetModeState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePower</servlet-name>
        <url-pattern>/UpdatePower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateThermostate</servlet-name>
        <url-pattern>/UpdateThermostate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFanState</servlet-name>
        <url-pattern>/UpdateFanState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CamSaver</servlet-name>
        <url-pattern>/CamSaver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCamTime</servlet-name>
        <url-pattern>/GetCamTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentSpeak</servlet-name>
        <url-pattern>/CurrentSpeak</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIdList</servlet-name>
        <url-pattern>/GetIdList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetACState</servlet-name>
        <url-pattern>/GetACState</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetACBrand</servlet-name>
        <url-pattern>/GetACBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstimateBrand</servlet-name>
        <url-pattern>/EstimateBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLabel</servlet-name>
        <url-pattern>/UpdateLabel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSchedule</servlet-name>
        <url-pattern>/AddSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSchedule</servlet-name>
        <url-pattern>/GetSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSchedule</servlet-name>
        <url-pattern>/DeleteSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScheduledAC</servlet-name>
        <url-pattern>/GetScheduledAC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScheduleAC</servlet-name>
        <url-pattern>/AddScheduleAC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteScheduleAC</servlet-name>
        <url-pattern>/DeleteScheduleAC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Amperes</servlet-name>
        <url-pattern>/Amperes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCurrent</servlet-name>
        <url-pattern>/GetCurrent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SyncAC</servlet-name>
        <url-pattern>/SyncAC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUnscheduledAC</servlet-name>
        <url-pattern>/GetUnscheduledAC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGroupList</servlet-name>
        <url-pattern>/GetGroupList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGroupLabel</servlet-name>
        <url-pattern>/UpdateGroupLabel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroup</servlet-name>
        <url-pattern>/AddGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroup</servlet-name>
        <url-pattern>/DeleteGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubGroup</servlet-name>
        <url-pattern>/AddSubGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubGroup</servlet-name>
        <url-pattern>/DeleteSubGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubGroupList</servlet-name>
        <url-pattern>/GetSubGroupList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubGroupLabel</servlet-name>
        <url-pattern>/UpdateSubGroupLabel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubGroupDevList</servlet-name>
        <url-pattern>/GetSubGroupDevList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRemote</servlet-name>
        <url-pattern>/UpdateRemote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewIdList</servlet-name>
        <url-pattern>/GetNewIdList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignDevice</servlet-name>
        <url-pattern>/AssignDevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MotionHist</servlet-name>
        <url-pattern>/MotionHist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDashboard</servlet-name>
        <url-pattern>/GetDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalControl</servlet-name>
        <url-pattern>/LocalControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetGroupACPower</servlet-name>
        <url-pattern>/SetGroupACPower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSubGroupACPower</servlet-name>
        <url-pattern>/SetSubGroupACPower</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
